#bienvenidos{
  color: black ;
  font-size: 25px;
  

}
/* ItemListContainer.css */

/* Estilos para el contenedor principal */
.item-list-container {
    background-color: #f9f9f9;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para cada tarjeta de producto */
  .product-card {
    width: 20%;
    height: 20%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 10px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: inline-block;
  }
  
  /* Estilos para los títulos */
  .product-card h2 {
    font-size: 15px;
    color: blue;
    margin: 30px;
      }
  
  /* Estilos para la descripción */
  .product-card p {
    
    color: #555;
    margin: 30px;
  }
  
 